@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "rsuite/dist/rsuite.css";
/* PALETA DE COLORES */
:root {
    --primary-color: #1A2A2F;
    --secondary-color: #00507C;
    --tertiary-color: #3DC2DD;
    --gray-color: #475467;
    --bg-modal: #D9D9D9D6;
    --white-color: #fefefe;
    --celestial-blue: #4888C81F;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    border-radius: 8px;
    border: 2px solid var(--white-color);
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.splide--draggable.is-active {
    border-bottom: none !important;
}

body {
    font-family: "Roboto", sans-serif !important;
}

#id_time {
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

.bg-aliceblue, .edited-form > div > input {
    background: aliceblue !important;
}

.btn {
    color: var(--white-color) !important;
    font-weight: 500;
}

.search-bar {
    max-width: 60%;
   }

button[data-bs-toggle="collapse"] {
    color:"#5F5C5C" !important;
}

.selected-button {
    color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color) !important;
}

.unselected-button {
    color: #8893a4 !important;
    border: 1px solid #8893a4 !important;
}

/* ÍCONOS */
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    font-weight: 600 !important;
}

.icon {
    top: 6px;
    right: 5px;
    margin: 10px;
    cursor: pointer;
}

.icon-arrow {
    width: 30px;
    height: 30px;
}

.key {
    transition: opacity 0.3s ease;
}

.key.invisible {
    opacity: 0;
}

.key:not(.invisible) {
    opacity: 1;
}

/* BUTTON */
.button {
    background-color: var(--tertiary-color) !important;
}

.pagination-button {
    background-color: var(--secondary-color) !important;
}

li {
    list-style: none;
}

/* TABLAS */
th {
    background-color: #EDF2FB !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: #ABC4FF;
}

.table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: #D7E3FC;
}

.bi-pencil-square, .bi-trash {
    cursor: pointer;
}

thead {
    border-bottom: 1px solid var(--primary-color) !important;
}

/* FORM */

/* .form-check-input:checked[type=radio] {
    background-image: url("/public/icons/radio-button.svg") !important;
} */
/* .form-check-input:checked {
    background-color: var(--white-color) !important;
    border-color: var(--white-color) !important;
} */

.form-control:focus {
    border-color: var(--secondary-color) !important;
    box-shadow: 0 0 0 .25rem #00507c2e !important;
}

.form-login {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .36));
    height: 55vh;
}

.eye-icon {
    top: 6px;
    right: 5px;
    margin: 10px;
    cursor: pointer;
}

.form-floating>label {
    color: var(--secondary-color) !important;
}

.form-select {
    width: 60% !important;
}

/* PANEL */
/* FIXED MENU */
.menu-list:hover {
    cursor: pointer;
}

.is-active {
    border-bottom: 2px solid var(--tertiary-color);
}

/* MENÚ VERSIÓN DESKTOP/MOBILE */

header, .navbar-mobile, .patient-name {
    background-color: var(--secondary-color);
}

.patient-name {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.patient-name.show {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

aside {
    min-height: 915px;
}

.offcanvas.offcanvas-end {
    left: -1px;
    width: 290px !important;
    transform: translateX(0%) !important;
}

.offcanvas-backdrop {
    background-color: var(--bg-modal) !important;
}

.is-active > img {
    color: #3DC2DD !important;
  }

  .navbar-toggler:focus {
    box-shadow: none;
}

.fade {
    transition: opacity .15s linear;
}

/* STEP REACT SUITE */
.rs-scroll-view.rs-scroll-view-custom-scrollbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs-btn-default {
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
    border-radius: .5rem !important;
}

.rs-btn-disabled {
    background-color: #869ba6 !important;
    color: var(--white-color) !important;
}

.rs-btn-group {
    position: relative;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
}

/* SPLIDE */
.is-active {
        background-color: 2px solid #495AFF !important;
        color: var(--white-color);
}

/* FORMS (FOLLOW UP) */
span.input-group-text  {
    background: white;
    border-left-color: transparent;
}

/* Checkbox - OS / OD */
.form-check-label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

input#od, input#os {
    width: 20px;
    height: 20px;
}

#od:checked, #os:checked {
    background-color: #2C98F0;
    border-color: #2C98F0;
}

.card {
    background-color: #e9f1f8;
    box-shadow: 4px 4px 4px #00507c82;
    width: 280px;
    padding: 10px;
}

/* FORM OPERATIVE */
.calculation-form {
    background-color: #e9f1f8;
    box-shadow: 4px 4px 4px #00507c82;
    width: 280px;
    padding: 10px;
}

.card-form {
    background-color: var(--celestial-blue) !important;
    border-radius: 24px !important;
    width: 50%;
}
.card-form .card-header {
    background-color: var(--secondary-color);
    border-radius: 24px 24px 0 0 !important;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* LOADER */
.loader {
    width: 18px;
    height: 18px;
    border: 5px solid #FFF;
    border-bottom-color: #B02F92;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }

    @media (max-width: 600px) {
       h1 {
        font-size: 35px !important;
        line-height: 50px !important;
       }
       h4 {
        font-size: 20px !important;
    }

       .search-bar {
        max-width: 80%;
       }

       #button-collapse {
        font-size: 14px;
       }

       .button-cloud, .button-local {
        font-size: 13px !important;
       }

       .card-form {
        width: 80%;
    }
    }